/*
	Tugas Pemrograman Internet
	Redesign pmb.unsil.ac.id
	HTML 5
	------
	Our Team
	Kelompok 4
	. Iqbal Mulyawan Putera		137006218
	. Neneng Gina Nurhavia		137006211
	. Haidar Ramdani			137006188
	. Andi Rohendi				137006184
	Informatic Engineering
	E 2013
	------
	Dosen : Alam Rahmatulloh,ST.
*/

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding: 4em 0 4em 0;
		background-size:		auto,								175% auto;
	}